.item-1{
   
  grid-area: header;

}
.item-2 {
  grid-area: menu;

}

.item-3 {
  grid-area: right;
}

.grid-container {

  display: grid;
  grid-template-areas:
    "header header header header header "
    "right right menu menu menu menu";
    
  gap: 10px;
}
.card-top{
  width:fit-content ;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
justify-content: center;
 margin-top: 70px;

}
.form-addpro{
  height: 103.6vh;
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('../../image/backimg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  position: relative; 
}
.form-addpro-box{
  text-align: center;
  height: fit-content;
  width: fit-content;
  border: 2px solid black;
  padding: 50px;

  background-color: rgba(226, 222, 111, 0.132);
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));


  
}
.input-text>input{
  border: 1px solid rgba(108, 106, 106, 0.237);
 text-align: center;
 color: black;
 font-family: Outfit;
font-weight: 400;
}
input::placeholder {
  text-align: center;
  color: rgba(84, 78, 78, 0.815) !important;
  font-family: Outfit;
 font-weight: 100;
}