.side-container {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-areas:
    "sider  side-content side-content side-content"
    "sider  side-content side-content side-content"
    "sider  side-content side-content side-content";
}
.sider {
  width: 20vw;
  height: auto;
  grid-area: sider;
  background-color: white;
  border: 1px solid black;
  padding-top: 20px;
}
.side-content {
  grid-area: side-content;
  width: fit-content;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding: 15px;
  gap: 15px;
}

.link-text > span {
  color: black;
}
.link-text > span:hover {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (max-width: 360px) {
  .side-content {
    grid-area: side-content;
    max-width: 200px;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 15px;
    gap: 15px;
  }
}
@media only screen and (max-width: 250px) {
    .side-content {
     
      max-width: 130px;
  
    }
    
  }