.card-container{
    width: auto;
    height: 90vh;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgb(235, 229, 229);
}

.cards{

 display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.cards>.card{
    min-width: 250px;
   height: 250px;
    border: 1px solid black;
   
 display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
  margin: 20px;
   font-size: 1.5rem;
   color: black;
  
font-weight: 800;
   text-decoration: none;
   filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
   background-color:rgb(207, 238, 228);
   text-align: center;
}

.cards>.card:nth-child(2){
background-color: rgb(163, 208, 235);
text-align: center;
}
.cards>.card:nth-child(4){
    background-color: rgb(163, 208, 235);
    text-align: center;
    }

.cards>.card:hover {
    min-width: 280px;
    height: 280px;
    background-color: black;
    color: white;
    text-align: center;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

@media only screen and (max-width:280px) {
    .cards>.card{
        min-width: 150px;
        height: 150px;
    }
   
}