.use-Form{
    width: 100%;
    height: 100vh !important;
  
}


.form-addEmployee{
 
    height: 103.6vh;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('../../../image/background-form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* filter:drop-shadow(10px); */
    position: relative; 
}

.form-box{
    text-align: center;
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
    padding: 50px;
    background-image: url('../../../image/form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    margin-bottom: 80px;
    
}
.input-holder > input{
    background-color: rgb(253, 253, 253);
    text-align: center;
    color: black;
    font-weight:500;
    font-family: Outfit;
    font-size: 1.3rem;
    margin-top: 5px;
}
.err{
    width: fit-content;
    height: fit-content;
    background-color: rgb(253, 251, 251);
    color: red;
    font-size: 1rem;
    font-weight: 500;
   padding: 5px;
    text-align: center;
    margin: auto;

}