.view{
    width: fit-content;
    height: 75vh;
    background-color:#19191b;
    border: 1px solid #19191b;
    
   margin-top: 50px;
  
}
.your-card{
    height: 400px;
    border: 2px solid black;
    
   margin: 50px;
   padding: 60px;
}
.your-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
}
.unerLine{
    border-bottom: 2px solid #19191b;
    line-height:2;
}
