.data-box-image{
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    background-color: white;
   
}
.data-box-image>div{
    color: black;
}
.data-box-image:hover{
    cursor: pointer;
}
.popup{
    width: fit-content;
    height: fit-content;
   
    margin: auto;
}